*{
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #E1C699;
    border-left: 1px solid #532008;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B5926D; 
    border: 1px solid #532008;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #532008; 
    border: 1px solid #B5926D;
}

body{
    margin: 0;
    background-image: url("../photos/boulangerie/background1080p.jpg");
    background-attachment: fixed;
}

h1, h2, h3{
    font-family: 'Dancing Script', cursive;
  }

  p, label, small, select, input, textarea{
    font-family: 'Merriweather', serif;
}

h2{
    font-size: 28px;
  }

  h3{
    font-size: 22px;
  }

  b{
    font-size: 18px;
}

h1{
    margin: 0px;
  }
  h1>a{
    color: white;
    text-decoration: none;
  }

  h1>a:hover{
    background-color:lightgrey;
    color:black;
    transition: all .5s;
}

.header{
    text-align: center;
    padding: 0;
    background: black;
    color: white;
    font-size: 20px;
    margin: 0px;
  }

  .header>a{
    display: flex;
    position: absolute;
    width: 44px;
    height: 44px;
    color: white;
    text-decoration: none;
  }

  .header>a:hover{
    background-color:lightgrey;
    color:black;
    transition: all .5s;
  }

  .header span{
    font-size: 44px;
}

.lang{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }

  .flags{
    margin-right: 1rem;
    margin-top: 0.4rem;
}

.selector{
    margin:0px;
    background-color: #E1C699;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .selector>a{
    border-left: 2px solid #B5926D;
    padding: 5px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 160px;
    height: 64px;
  }

  .selector>a:last-child{
    border-right: 2px solid #B5926D;
  }

  .selector>a:nth-child(2){
    margin-right: 150px;
    border-right: 2px solid #B5926D;
  }

  .selector>a:hover{
    background-color: #deb773;
    transition: all .5s;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}

.ad #perfall{
    position: absolute;
    top: 40%;
    right: 85%;
  }

  .ad #ldlp{
    position: absolute;
    top: 40%;
    left: 85%;
}

.corpus{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 958px;
    padding-top: 1rem;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.708);;
    border-radius: 2%;
  }

  .corpus p{
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: left;
  }

  .corpus #inside{
    width: 100%;
    text-align: left;
}

#actus{
    margin-top: 0;
}

.container{
    display: flex;
    border-top: 0.1rem solid #B5926D;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .container>img{
    width: 250px;
  }

  .container>p{
    font-size: 16px;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: left;
  }

  .sujets{
    margin-top: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: space-evenly;
  }

  #king{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .person{
    padding-top: 1rem;
    width: 200px;
    background-color: #E1C699;
    border-radius: 5%;
    border: 0.1rem solid #B5926D;
  }

  .description{
    text-align: center !important;
    padding: 0 1rem 0 1rem !important;
}

select{
    text-align: right;
    height: 21px;
}

#directions{
    padding-bottom: 1.7rem;
}

#obligatory{
    text-align: center;
    padding-bottom: 1.83rem;
    margin-bottom: 8.6rem;
  }

  #en_obligatory{
    text-align: center;
    padding-bottom: 1.83rem;
    margin-bottom: 9.7rem;
}

#command_button{
    background-color: #E1C699;
    border: 1px solid black;
  }

  #command_button:hover{
    background-color: #deb773;
}


#thnx{
    text-align: center;
  }

  #margin_confirmation{
    margin-bottom: 22.75rem;
}

.footer{
    background-color: #532008;
    color: white;
    text-align: center;
  }

  .footer h2{
    padding-top: 1rem;
    margin-bottom: 0;
}

.contact_us{
    width: 958px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
  }

  .contact{
    display: flex;
    align-items: center;
  }

  .mdi{
    font-size: 21px;
    padding-top: 0.3rem;
    padding-right: 0.5rem;
  }

  .link{
    text-decoration: none;
    color:white;
  }

  .link:hover{
        text-decoration: none;
        color:#B5926D;
        transition: .5s ease;
  }

  .contact>span{
    text-align: center;
    width: 44px;
    height: 20px;
}

.copyright_privacy_policy{
    width: 95%;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.bouffe {
    width: 90%;
    margin: 2rem auto;
    padding-bottom: 1.83rem;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 1.5rem; 
    margin-bottom: 3rem;
  }

  .gallery_one_row:last-child{
    margin-bottom: 0;
  }

  .gallery_one_row{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 5vw);
    grid-gap: 1.5rem; 
    margin-bottom: 3rem;
  }
  
  .gallery__item{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border-radius: 5%;
  }

  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5%;
    box-shadow: 1.9px 3.8px 3.8px hsl(0deg 0% 0% / 0.44);
  }
  
  .gallery__item--1, .gallery__item--7, .gallery__item--14, .gallery__item--22, .gallery__item--25, .gallery__item--29 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
  }
  
  .gallery__item--2, .gallery__item--8, .gallery__item--15, .gallery__item--23, .gallery__item--26, .gallery__item--30 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
  }
  
  .gallery__item--3, .gallery__item--9, .gallery__item--16, .gallery__item--24, .gallery__item--27, .gallery__item--31 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
  }
  
  .gallery__item--4, .gallery__item--10, .gallery__item--17, .gallery__item--28, .gallery__item--32 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
  }
  
  .gallery__item--5, .gallery__item--11, .gallery__item--18, .gallery__item--33 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    position: relative;
  }
  
  .gallery__item--6, .gallery__item--12, .gallery__item--19, .gallery__item--34 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    position: relative;
  }

  .gallery__item--13, .gallery__item--20, .gallery__item--35 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    position: relative;
  }

  .gallery__item--21, .gallery__item--36 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
    position: relative;
  }

  .gallery__item--37 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    position: relative;
  }

  .gallery__item--38 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    position: relative;
  }

  .gallery__item--39 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    position: relative;
  }

  .gallery__item--40 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 5%;
    transition: .5s ease;
    background-color: #E1C699;
  }
  
  .gallery__item:hover .overlay {
    opacity: 0.8;
  }
  
  .text {
    color: black;
    opacity: 1;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.pop-up_news{
    left: 100%;
    top: 20%;
    position: fixed;
    background-color: hsla(0, 0%, 100%, 0.708);;
    border-radius: 2%;
    animation: swipe 2s forwards 4s;
    transform: translateX(0px);
  }

  @keyframes swipe {
    0%{transform: translateX(0px)}
    100%{transform: translateX(-100%)}
  }

  .pop-up_news h2{
    margin-left: 1rem;
    padding-top: 1rem;
  }

  #pop-up_container{
    margin-left: 1rem;
    margin-right: 0;
  }

  .pop-up_news img{
    width: 125px;
    height: 90px;
  }

  .pop-up_news p{
    font-size: 10px;
    padding-left: 1rem;
    padding-right: 0;
    width: 100px;
    margin-top: 0;
  }

  .pop-up_news a{
    text-decoration: none;
    color: black;
}

.avis{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 958px;
  }

  .gallery_trustpilot {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 1.5rem;
    padding-bottom: 1.83rem;
}